@use '../../colors.scss';

.button {
    width: 100%;
    border: 0;
    border-radius: 6px;
    background-color: rgba(colors.$primary, 0.8);
    color: inherit;
    cursor: pointer;

    &:hover {
        background-color: colors.$primary-hover;
    }

    &:active {
        background-color: colors.$primary-active;
    }
}
