.authorization {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.welcome-page {
    display: flex;
    flex-direction: column;
    gap: 20px;

    &__to-auth-buttons {
        display: flex;
        justify-content: space-between;

        &__button {
            font-weight: 800;
            font-size: 2rem;
            padding: 30px;
            min-width: 200px;
        }
    }
}
