@use '../../colors.scss';

.table-item {
    display: flex;
    border: 1px solid colors.$primary-active;
    background-color: colors.$primary;

    &__micro {
        padding: 5px;
        border-right: 2px solid colors.$primary-active;
        flex: 1;
        text-align: center;
        display: flex;
        justify-content: center;

        &_right {
            border-right: none;
        }

        &__delete-button {
            width: 1.7rem;
            height: 1.7rem;
            border-radius: 50%;
            background-color: colors.$info-primary;
            font-size: smaller;
            font-weight: 900;
            transition: 0.2s;
            user-select: none;

            &_want-delete {
                background-color: colors.$error-primary;

                &:hover {
                    background-color: colors.$error-primary-hover !important;
                }

                &:active {
                    background-color: colors.$error-primary-active !important;
                    color: colors.$primary;
                }
            }

            &:hover {
                background-color: colors.$info-primary-hover;
            }

            &:active {
                background-color: colors.$info-primary-active;
            }
        }
    }

    &_first {
        background-color: colors.$primary-hover;
        cursor: default;
        border-top-right-radius: 8px;
        border-top-left-radius: 8px;
    }
    &_last {
        border-bottom-right-radius: 8px;
        border-bottom-left-radius: 8px;
    }

    cursor: pointer;

    &:hover {
        background-color: colors.$primary-hover;
    }
    &:active {
        background-color: colors.$primary-active;
    }
}
