@use '../../colors.scss';

.table-item {
    display: flex;
    border: 1px solid colors.$primary-active;
    background-color: colors.$primary;

    &__micro {
        padding: 5px;
        border-right: 2px solid colors.$primary-active;
        flex: 1;
        text-align: center;
        display: flex;
        justify-content: center;

        &_right {
            border-right: none;
        }

        &__delete-button {
            width: 14px;
            height: 15px;
            border-radius: 50%;
            background-color: colors.$error-primary;
            font-size: smaller;

            &:hover {
                background-color: colors.$error-primary-hover;
                color: colors.$primary;
            }
        }
    }

    &_first {
        background-color: colors.$primary-hover;
        cursor: default;
        border-top-right-radius: 8px;
        border-top-left-radius: 8px;
    }
    &_last {
        border-bottom-right-radius: 8px;
        border-bottom-left-radius: 8px;
    }

    cursor: pointer;

    &:hover {
        background-color: colors.$primary-hover;
    }
    &:active {
        background-color: colors.$primary-active;
    }
}
