@use '../../../../colors.scss';

.order-form {
    border-radius: 8px;

    & > .new-item-form {
        margin-top: 10px;
    }

    &__send-button {
        background-color: rgba(colors.$info-primary, 0.7);
        color: colors.$info-primary-text;

        &:hover {
            background-color: colors.$info-primary-hover;
        }

        &:active {
            background-color: colors.$info-primary-active;
        }
    }
}
