$primary: #ffdd2d;
$primary-hover: #ffcd33;
$primary-active: #fab619;

$primary-text: #333;
$primary-background: #444;

$secondary-background: #555;

$error-primary: #c22;
$error-primary-hover: #cc2f2f;
$error-primary-active: #dc2f2f;

$info-primary: #29c;
$info-primary-hover: #18b;
$info-primary-active: #3ac;


// $primary: #888;
// $primary-hover: #999;
// $primary-active: #777;
// $primary-text: #fff;

// $info-primary: #777;
// $info-primary-hover: #666;
// $info-primary-active: #999;

// $error-primary: #a44;
// $error-primary-hover: #b33;

// ::placeholder {
//     color: #ccc;
// }
