$primary: #3578e5;
$primary-hover: #306cce;
$primary-active: #2d66c3;
$primary-text: #ebedf0;
$primary-background: #fff;

$secondary-background: #eef0f2;
$secondary-hover: #f5f6f8;
$secondary-active: #fff;
$secondary-text: #525860;

$info-primary: #02afef;
$info-primary-text: #dcd;
$info-primary-hover: #019ede;
$info-primary-active: $info-primary-hover;

$error-primary: #fa383e;
$error-primary-text: $primary-text;
$error-primary-active: #010101;
$error-primary-hover: #FF6140;

::placeholder {
    color: $info-primary-text;
}
