@use 'colors.scss';

body {
    position: absolute;
    left: 0;
    top: 0;

    background-color: colors.$primary-background;
    color: colors.$primary-text;

    font-family: 'Arial Narrow', Arial, sans-serif;

    display:flex;
    flex-direction: column;
    align-items: center;

    min-width: 300px;
    margin: 0;

    font-size: x-large;
}

h3, p, span {
    color: colors.$primary;
}

a, button {
    font: inherit;
    color:inherit;
}

#root {
    min-width: 100vw;
    min-height: 100vh;
}

.span-link {
    text-decoration: underline;
    color: colors.$info-primary;
    cursor: pointer;
}
